<div class="container">
  <br>
  <div class="card">
    <div class="card-body">
      <router-outlet><b> <span style="font-size: 100%; ">This is a client - User Interface to view, access and manage the Todo Items</span></b> <br/>
        <br/>This Interface will provide access the user to <br/>
        *. Create a New Todo Item<br/>
        *. See details of a particular Todo Item<br/>
        *. Edit a Todo Item<br/>
        *. Delete a Todo Item<br/>
        *. Make multiple Todo Items status as Done<br/>
        *. View multiple Todo Items with a particular status<br/>
        *. Change the status to Done of a Todo item on the View Details page</router-outlet>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <span></span>
  </div>
</footer>

